body {
	/*Top tranparent gray*/
	background: 
	linear-gradient(  
	 	rgba(27, 27, 27, 0.55), 
		rgba(27, 27, 27, 0.55)
	 ), url('../images/desk.jpg');
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;


}
/*header using bootstrap */
.theBar {
	margin-top: 50px !important;
	background: transparent !important;
	border-color: transparent;
}
.brandN {
	color: rgb(255, 255, 255) !important;
	font-family: 'Supermercado One', cursive;
	font-size: 2.875em;
	font-weight: bold;
	text-shadow: 10px 10px 5px black;
	margin-left: 40px !important;
}
.liTextCh {
	text-align: center;

}
div div ul li {
	text-align: center;
	color: red !important;
	font-family:'Indie Flower', cursive;
	background-color: rgb(225, 238, 255);
}
.fontCh {
	font-family: 'Anton', sans-serif;
}
.projCh {
	font-family: 'Amatic SC', cursive;
}
/*Jumbotron/body/info*/
.hello {
	color: rgb(255, 255, 179);
	font-size: 30px;
	font-family: cursive;
}
.footer {
	text-align: center;
	font-family: 'Supermercado One', cursive;
	font-size: 20px;
	color: white;
	margin-bottom: 20px;
	width: 100%;
	

}
/* index.html ---icons logos*/
.foto {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	padding: 5px;
}
.topic {
	float: right;
	border-left: solid;
	border-color: white;
}
/*home page image*/
.myimg{
	display: block;
	height: 315px;
	width: 315px;
	padding:1px;
   	border:1px solid #021a40;
   	background-color: gray;
  	justify-content: center
  	margin: 0 auto;
  	content: url('/assets/images/me.jpg');
}
p div {
	font-size: 20px;
}
.myimg:hover {
	content: url('/assets/images/sideme.jpg');
	display: block;
	border:1px solid #021a40;
	height: 315px;
	width: 315px;
}
.jumbotron {
	display: block;
   	vertical-align: middle;
}


/*contact.htm****************/
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.formCo {
	width: auto;
	height: auto; 

}
.header {
        color: rgb(111, 171, 255)
        font-size: 27px;
        font-family: 'Permanent Marker', cursive;
        padding: 10px;
    }
.margS{
	margin-bottom: 5px;
}
.well {
	background-color: #2F4F4F !important;
	border-radius: 20px;
	
}
legend {
border-color: black;
}
.bkco {
	background-color: rgb(106, 32, 50);
}

/*about.html************/
.abt {
	color: white;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
}
.mess {
	color: white;
	text-align: center;
	font-family: 'Supermercado One', cursive;
	font-size: 15px;
}

a:link {
    color: red;
}
a:visited {
    color: #FF1493;
}
a:hover {
    color: #C71585;
    text-decoration: none;
}
a:active {
    color: blue;
}
.barhtml {
	width:90%;
}
.c_ss {
	width: 88%;
} 
.javS {
	width: 65%;
}
.jQu {
	width: 50%;
}
.boTs {
	width: 70%;
}
.nod {
	width: 55%;
}
.mysq {
	width: 35%;
}
.secCon { 
	position: absolute;
 }

