body {
	/*Top tranparent gray*/
	background: 
	linear-gradient(  
	 	rgba(27, 27, 27, 0.55), 
		rgba(27, 27, 27, 0.55)
	 ), url('../images/desk.jpg');
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;

}
/*header using bootstrap*/
.theBar {
	margin-top: 50px !important;
	background: transparent !important;
	border-color: transparent;
}
.brandN {
	color: rgb(255, 255, 255) !important;
	font-family: 'Supermercado One', cursive;
	font-size: 2.875em;
	font-weight: bold;
	text-shadow: 10px 10px 5px black;
	margin-left: 40px !important;
}
.liTextCh {
	text-align: center;

}
div div ul li {
	text-align: center;
	color: red !important;
	font-family:'Indie Flower', cursive;
	background-color: rgb(225, 238, 255);
}
.fontCh {
	font-family: 'Anton', sans-serif;
}
.projCh {
	font-family: 'Amatic SC', cursive;
}
/*Jumbotron/body/info*/
.jumbi {
	text-align: center !important;
	background: transparent;
	font-style: italic bold;
	font-family: 'Supermercado One', cursive;	
	color: rgb(255, 255, 255) !important;
	font-size: 15px !important;
	margin-top: 60px;
}
.hello {
	color: rgb(255, 255, 179);
	font-size: 30px;
	font-family: cursive;
}
.footer {
	text-align: center;
	font-family: 'Supermercado One', cursive;
	font-size: 20px;
	color: white;
	margin-bottom: 20px;
	width: 100%;
}
/*icons logos*/
.foto {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	padding: 5px;
}
.topic {
	float: right;
	border-left: solid;
	border-color: white;
}
/*home page image*/
div div div img  {
	float: left;
	height: 45%;
	width: 45%;
	border-radius: 50%;
	padding:1px;
   	border:1px solid #021a40;
   	background-color: gray;
   	margin-left: 40px;
   	
}
p div {
	font-size: 20px;
}


